node_modules/

.next/
.next/cache/
out/

.vercel/

coverage/

.env
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.turbo/
.swc/

.pnp.*

.eslintcache
*.tsbuildinfo

.idea/
.vscode/

.DS_Store
